/* You can add global styles to this file, and also import other style files */

html {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    text-align: center;
}

.text-center {
    text-align: center;
}