.card {
    background-color: rgb(152, 103, 38);
    color: white;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    box-shadow: 1px 2px 8px black;

    transition: .2s;
}
.card:hover {
    filter: brightness(90%);
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 3px 10px black;
}

.card .title {
    text-align: center;
    margin-top: 10px;
}

.card.admin {
    background-color: rgb(137, 41, 41);
}