.card {
    background-color: rgb(137, 67, 41);
    color: white;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    display: inline-block;

    /* transition: .2s; */
}
.card:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.card .title {
    text-align: center;
    margin-top: 10px;
}